<?xml version="1.0"?>
<!--
/**
 * @category   UPS
 * @package    UPS_Dashboard
 * @subpackage Di
 * @link       https://www.ups.com
 * @since      1.0.0
 * @author UPS eCommerce Shipping Dashboard
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="UPSBG\Dashboard\Api\ConfigInterface" type="UPSBG\Dashboard\Model\Config" />
    <type name="Magento\Framework\App\Request\CsrfValidatorInterface">
        <arguments>
            <argument name="skippedUrls" xsi:type="array">
                <item name="upsbg_dashboard" xsi:type="string">admin/upsbg_dashboard/*</item>
            </argument>
        </arguments>
    </type>
</config>