<?xml version="1.0"?>
<!--
/**
 * @category   UPSBG
 * @package    UPSBG_Dashboard
 * @subpackage Route
 * @link       https://www.ups.com
 * @since      1.0.0
 * @author UPSBG eCommerce Shipping Dashboard
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="upsbg" frontName="upsbg">
            <module name="UPSBG_Dashboard"/>
        </route>
    </router>
</config>